body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  background-size: cover;
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.custom-card {
  width: 100%;
  max-width: 380px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  max-height: 400px;
}

label {
  display: block;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: left;
}

a {
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
  margin-top: 1rem;
  display: inline-block;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}