body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.custom-card {
  width: 100%;
  max-width: 380px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  max-height: 500px;
}

label {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  text-align: left;
  margin: 5px 0 5px 10px;
}

.custom-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

.p-password-input {
  width: 100%;
  border: none;
  padding: 0;
}

/* Força o input dentro do Password a seguir o padrão */
.p-password input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
  color: #333;
  box-sizing: border-box;
}

/* Estilo de foco para input dentro do Password */
.p-password input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
  outline: none;
}

.custom-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
}

.custom-button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.75rem;
}

.mt-2 {
  margin-top: 0.75rem;
}

.text-center {
  text-align: center;
}

.bd-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #fff;
  color: #333;
}

.bd-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
  outline: none;
}

.p-inputtext {
  box-sizing: border-box;
}